
<div class="container">

<h1>Eat Da Burger</h1>

<form>
  <div class="col-sm-4">
    <label for="forminput">Burger</label>
    <input type="text" class="form-control" id="userInput" placeholder="Type in a burger you'd like to eat!">
  </div>
  <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
</form>

</div>