html, body {
    background: #4BA3F1
}    

.main-container {
    background-color: orangered
}

.burgerSquare {
    background: white;
    padding: 30px;
}

.burgerForm {
    background-color: white

}

.devoured {
    color: darkred;
    right: 0;
    margin-right: 10px;
}